<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="router-link-active" href="#"
      >Dating App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (accountService.currentUser()) {
        <li class="nav-item">
          <a
            routerLink="/members"
            routerLinkActive="router-link-active"
            class="nav-link text-light"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/lists"
            routerLinkActive="router-link-active"
            class="nav-link text-light"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            routerLinkActive="router-link-active"
            class="nav-link text-light"
            >Messages</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        }
      </ul>
    </div>
    @if (accountService.currentUser()) {
    <div class="dropdown" dropdown>
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
        >Welcome {{accountService.currentUser()?.username | titlecase}}</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">logout</a>
      </div>
    </div>
    } @if (!accountService.currentUser()) {
    <div>
      <form #loginForm="ngForm" (submit)="login()" class="d-flex">
        <input
          name="username"
          [(ngModel)]="username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
          [value]="username"
        />
        <input
          name="password"
          [(ngModel)]="password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
    }
  </div>
</nav>
